Options -Indexes 
ErrorDocument 404 /404.php

#php_flag allow_call_time_pass_reference 1
#php_flag session.use_trans_sid off

php_value display_errors 1

php_value auto_prepend_file "/home/bitrix/www/bitrix/modules/security/tools/start.php"

#php_value mbstring.func_overload 2
#php_value mbstring.internal_encoding UTF-8

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  # Redirect http to https (DISABLE ON DEMO !!!)
  # RewriteCond %{SERVER_PORT} !^443$
  # RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

  RewriteCond %{HTTP_USER_AGENT} ^.*(Mozilla\/5\.0\sJorgee).*$ [NC]
  RewriteRule ^(.*)$ - [F,L]  

  #RewriteCond %{HTTP_HOST} !^www\.trbonet\.com$ [NC]
  #RewriteRule ^(.*)$ https://trbonet.com/$1 [R=301,L]  

  RewriteCond %{HTTP_HOST} ^(www\.)?trbonet\.ru [NC]
  RewriteRule ^(.*)$ https://trbonet.com/ru/ [R=301,L]  

  RewriteCond %{HTTP_HOST} ^es\.trbonet\.com [NC]
  RewriteRule ^(.*)$ https://trbonet.com/es/ [R=301,L]  

  RewriteRule ^newsview\.aspx$ /news/? [R=301,L]  
  RewriteRule ^productview\.aspx$ /products/? [R=301,L]  

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !urlrewrite.php$
  RewriteRule ^(.*)$ urlrewrite.php [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/x-httpd-php .ico
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>