@font-face {
    font-family: OpenSans-L;
    src: url('../font/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-B;
    src: url('../font/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-SB;
    src: url('../font/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: OpenSans-R;
    src: url('../font/OpenSans-Regular.ttf');
}

body {
    background: #f3f3f3;
    position: relative;
}

.main {
    /*max-width: 1600px;*/
    /*margin: auto;*/
    background: #fff;
    /*box-shadow: 0 10px 50px rgba(0, 0, 0, .05);*/
    padding-bottom: 50px;
}

article {
    display: flex;
    justify-content: space-between;
}

header {
    width: inherit;
    height: 70px;
    background-color: rgb(34, 123, 191);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 200;
}

.mobile_menu {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 300;
}

.wrapper_mobile {
    display: flex;
    justify-content: flex-end;
}

.wrapper_mobile_menu {
    display: none;
}

.mobile_search {
    display: none;
}

.mobile_menu_detail {
    display: none;
    position: fixed;
    right: 20px;
    z-index: 50;
    background-color: #fff;
    box-shadow: 0 0px 3px rgba(0, 0, 0, .3);
    max-width: 220px;
    box-sizing: border-box;
}

.mobile_menu_detail .close_menu_btn {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.mobile_menu_detail ul {
    margin-top: 15px;
    margin-bottom: 25px;
    list-style: none;
    padding: 0;
}

.mobile_menu_detail ul li {
    margin-bottom: 15px;
    padding: 5px 20px;
}

.mobile_menu_detail ul li a {
    font-size: 13px;
    font-family: 'OpenSans-R', sans-serif;
    text-decoration: none;
    position: relative;
    color: #000;
}

.mobile_menu_detail ul li.active,
.mobile_menu_detail ul li:hover {
    background-color: rgb(244, 244, 244);

}

.mobile_menu .aside__wrapper {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.mobile_menu .aside__wrapper ul.left_aside {
    border-right: 0;
}

.mobile_menu_button {
    display: none;
    align-items: center;
    outline: none;
    padding: 0 15px;
}

.mobile_menu_button:focus,
.mobile_menu_button:hover {
    background-color: rgb(39, 140, 217);
}

.mobile_menu_detail_button {
    text-align: right;
    outline: none;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 20px;
    top: 90px;
    background-color: #fff;
    z-index: 50;
}

.mobile_menu_detail_button span {
    color: rgb(39, 140, 217);
    font-size: 12px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    outline: none;
    text-decoration: none;
}

.logo svg {
    margin-right: 20px;
}

.kb_title {
    text-align: left;
    height: 40px;
    border-left: 1px solid #fff;
    display: flex;
    align-self: center;
    padding-left: 20px;
}

.kb_title p {
    margin: 0;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-family: 'OpenSans-L', sans-serif;
}

aside {
    min-width: 268px;
    margin-top: 30px;
    margin-left: 30px;
}

.aside__wrapper {
    position: sticky;
    top: 100px;
    max-width: 268px;
}

.aside__wrapper_left {
    height: calc(100% - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

.aside__wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside__wrapper ul.left_aside {
    /*height: 414px;*/
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 10px 0 10px 0;
}

.aside__wrapper ul.right_aside {
    border-left: 1px solid #e0e0e0;
    padding: 10px 15px 10px 30px;
    box-sizing: border-box;
}

.aside__wrapper ul.left_aside li a, .aside__wrapper ul.left_aside li .left_aside__sec-title {
    cursor: pointer;
    display: block;
    color: rgb(107, 107, 107);
    font-size: 14px;
    font-family: 'OpenSans-SB', sans-serif;
    text-decoration: none;
}

.aside__wrapper ul.left_aside li {
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    box-sizing: border-box;
}

.aside__wrapper ul.left_aside li:last-child {
    margin-bottom: 0;
}

.aside__wrapper ul.left_aside li span.left_aside__sec-title:hover {
    color: #1e1e1f;
}

.aside__wrapper ul.left_aside li.active {
    border-left: 5px solid #fff;
    box-shadow: -1px 0 0 #278cd9;
}

.aside__wrapper ul.left_aside li.active .left_aside__sec-title {
    color: #278cd9;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner {
    display: none;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li {
    padding-left: 10px;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li a {
    display: block;
    font-family: 'OpenSans-R', sans-serif;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li:first-child {
    margin-top: 15px;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li:last-child {
    margin-bottom: 15px;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li a.active_inner {
    color: #1e1e1f;
    font-family: 'OpenSans-B', sans-serif;
    position: relative;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li a.active_inner:before {
    content: "\2022";
    font-size: 18px;
    line-height: 1px;
    color: #278cd9;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -49px;
    top: 50%;
}

.aside__wrapper ul.left_aside li ul.left_aside_inner li a:hover {
    color: #000;
}

aside .tech_doc {
    margin-top: 30px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

aside .tech_doc svg {
    max-height: 20px;
}

aside .tech_doc a {
    text-decoration: none;
    color: rgb(39, 140, 217);
    font-size: 14px;
    font-family: 'OpenSans-SB', sans-serif;
}

aside .tech_doc a:hover {
    color: #000;
}

aside .tech_doc a:hover svg path {
    fill: rgb(0, 0, 0) !important;
}

aside .tech_doc a p {
    display: inline-block;
    opacity: 1;
    line-height: 36px;
    margin-left: 10px;
}

section.index_faq {
    padding-top: 60px;
    max-width: 885px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

section.index_faq_width {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

section.index_faq h1 {
    color: rgb(78, 80, 82);
    font-size: 36px;
    font-family: 'OpenSans-L', sans-serif;
    text-align: center;
}

label.search_label,
label.search_label_mini {
    position: relative;
}

label.search_label button,
label.search_label_mini button {
    position: absolute;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

label.search_label button {
    right: 5px;
    top: -8px;
}

label.search_label_mini button {
    right: 0;
    top: -2px;
}

label.search_label svg {
    fill: rgb(107, 107, 107);
    width: 32px;
    height: 32px;
}

label.search_label_mini svg {
    fill: rgb(107, 107, 107);
    width: 21px;
    height: 21px;
}

label.search_label svg:hover,
label.search_label_mini svg:hover {
    fill: rgb(39, 140, 217) !important;
}

.search, .search_mini {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(224, 224, 224);
    color: rgb(78, 80, 82);
    text-align: left;
    border-radius: 5px;
    outline: none;
}

.search {
    padding: 0 10px;
    font-size: 14px;
    /*max-width: 600px;*/
    width: 100%;
    height: 43px;
    margin-top: 10px;
}

.search_mini {
    width: 100%;
    height: 37px;
    padding: 0px 10px;
    font-size: 13px;
}

section.index_faq .desc_faq {
    padding-top: 50px;
    /*max-width: 600px;*/
    text-align: center;
}

section.index_faq .desc_faq p {
    font-family: 'OpenSans-R', sans-serif;
    color: rgb(78, 80, 82);
}

.feedbackForm_faq_wrapper {
    margin-top: 80px;
}

.feedbackForm_faq {
    background: #FCFCFC;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 0.25px solid #ADB1B7;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(27, 31, 35, 0.15);
    border-radius: 5px;
    max-width: 779px;
    margin: auto;
    padding: 0 20px;
}

.feedbackForm_faq p.couldnt_find_answer {
    text-align: center;
    color: rgb(30, 30, 31);
    font-size: 24px;
    font-family: 'OpenSans-R', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.feedbackForm_faq p.contact_us {
    color: rgb(78, 80, 82);
    font-size: 16px;
    text-align: center;
    font-family: 'OpenSans-R', sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
}

.feedbackForm_faq .l-form .l-form__right_center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.feedbackForm_faq_detail_wrapper {
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
    margin-top: 0;
}

.tn_form input[type="text"], .tn_form input[type="email"], .tn_form input[type="password"], .tn_form select, .tn_form textarea {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 0.5px solid #ADB1B7;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.tn_form__wrapper {
    display: flex;
    justify-content: space-between;
}

.tn_form__left, .tn_form__right {
    width: 50%;
}

.tn_form__left {
    margin-right: 20px;
}

.tn_form__right {
    margin-left: 20px;
}

.tn_form_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__wrapper ul.right_aside li .title {
    text-transform: uppercase;
    color: rgb(30, 30, 31);
    font-size: 13px;
    font-family: 'OpenSans-B', sans-serif;
}

.aside__wrapper ul.right_aside li ul {
    margin-top: 15px;
    margin-bottom: 25px;
}

.aside__wrapper ul.right_aside li ul li {
    margin-bottom: 15px;
}

.aside__wrapper ul.right_aside li ul li a {
    color: rgb(78, 80, 82);
    font-size: 13px;
    font-family: 'OpenSans-R', sans-serif;
    text-decoration: none;
    position: relative;
}

.aside__wrapper ul.right_aside li ul li.active a {
    font-family: 'OpenSans-B', sans-serif;
    color: #000;
}

.aside__wrapper ul.right_aside li ul li.active a:before {
    content: "\2022";
    font-size: 18px;
    line-height: 1px;
    color: #278cd9;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -34px;
    top: 50%;
}

.aside__wrapper ul.right_aside li ul li a:hover {
    color: #278cd9;
}

/*DETAIL*/

div.news-detail, .faq-rew {
    word-wrap: break-word;
    color: rgb(78, 80, 82);
    font-size: 14px;
    font-family: 'OpenSans-R', sans-serif;
}

div.news-detail img.detail_picture {
    float: left;
    margin: 0 8px 6px 1px;
}

.news-date-time {
    color: #486DAA;
}

div.news-detail iframe {
    width: 100%;
}

.news-detail h1 {
    text-align: left !important;
    font-family: OpenSans-L !important;
    margin-top: 0 !important;
}

.faq-date-time {
    line-height: 20px;
    font-weight: 300;
    color: #808080;
    margin-bottom: 5px;
    font-style: italic;
}

.faq-issue {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
    padding: 0;
}

.faq-issue li {
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.faq-button-center {
    display: block;
    /*text-align: center;*/
    padding: 20px 0 30px;
}

.faq_content h2 {
    font-size: 18px;
    line-height: 20px;
}

.faq_subtitle {
    font-size: 16px;
    /*line-height: 26px;*/
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1a1a1a;
}

.faq_rew_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq_rew_title {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
}

.faq-rew input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.faq-rew input[type="radio"] + label {
    position: relative;
    padding: 5px;
    display: inline-block;
    width: 110px;
    cursor: pointer;
    margin-left: 13px;
    color: rgb(34, 123, 191);
    border: 1px solid rgb(34, 123, 191);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.faq-rew input[type="radio"]:checked + label {
    background-color: rgb(34, 123, 191);
    color: #fff;
}

.faq_rew_field {
    display: none;
}

.faq_rew_field.open {
    display: flex;
    justify-content: center;
}

.faq-rew .improved-text {
    display: table;
    width: 80%;
    margin-top: 20px;
}

.faq-rew .improved-text label, .faq-button-center p {
    font-size: 16px;
}

.faq-rew .faq-button-center {
    padding-top: 0;
}

.faq-rew .tn_button {
    background: transparent;
    color: rgb(34, 123, 191);
    border: 1px solid rgb(34, 123, 191);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/*.faq-rew .answer {
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: right;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.faq-rew .answer .answer_radio {
    margin-right: 10px;
    margin-left: 20px;
    display: flex;
}

.faq-rew .answer input {
    margin-left: 20px;
}

.faq-rew .answer input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.faq-rew .answer input[type="radio"] + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
    margin-left: 25px;
}

.faq-rew .answer input[type="radio"] + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(78, 80, 82);
    border-radius: 50%;
    background: #FFF;
}

.faq-rew .answer input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(78, 80, 82);
    opacity: 0;
    transition: .2s;
}

.faq-rew .answer input[type="radio"]:checked + label:after {
    opacity: 1;
}*/

.related-articles {
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .faq_subtitle {
        font-size: 14px;
        /*line-height: 17px;*/
        overflow: hidden;
    }
}

@media (min-width: 1130px) {
    .faq_subtitle {
        font-size: 16px;
        /*line-height: 46px;*/
    }
}

ul.faq_related_list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 26px;
}

ul.faq_related_list li a {
    font-family: 'OpenSans-SB', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(78, 80, 82);
}

ul.faq_related_list li a:hover {
    color: rgb(39, 140, 217)
}

ul.faq-print {
    border-top: 1px solid rgb(224, 224, 224);
    padding: 10px 0;
    text-align: left;
    margin-bottom: 5px;
}

ul.faq-print li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
}

ul.faq-print li svg {
    fill: rgb(82, 82, 82);
    margin-right: 5px;
}

ul.faq-print li:hover svg {
    fill: rgb(39, 140, 217);
}

ul.faq-print li:hover {
    color: rgb(39, 140, 217);
}

ul.faq-print li a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul.faq-print li a img {
    margin-right: 10px;
}

.faq-popup-email-wrap {
    display: none;
}

.faq-popup-email {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 10px 5px;
}

.faq-popup-email .send_input {
    float: left;
    width: 195px;
    margin-right: 10px;
}

.faq-popup-email .send_input label {
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    padding: 0 2px;
}

.faq-popup-email .send_input input[type="email"] {
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    width: 100%;
    padding: 8px 12px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(224, 224, 224);
    font-size: 14px;
    line-height: 18px;
    color: #4d4d4d;
}

@media (min-width: 1130px) {
    .faq-popup-email .send_input {
        width: 252px;
    }
}

.faq-popup-email .send_submit {
    float: left;
    width: 96px;
}

.faq-popup-email .send_submit input[type="submit"] {
    width: 100%;
    padding: 0;
    background: #2c95dd;
    border: none;
    text-align: center;
    font-size: 13px;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
}

@media (min-width: 1130px) {
    .faq-popup-email .send_submit {
        width: 131px;
    }

    .faq-popup-email .send_submit input[type="submit"] {
        font-size: 14px;
    }
}

.faq-rew {
    /*margin-top: 20px;*/
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-rew .improved-text label {
    display: block;
}

.faq-rew .improved-text textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80%;
    height: 112px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;

}

.faq-rew .improved-text input::placeholder {
    color: inherit;
}

.faq-rew .improved-text input:-ms-input-placeholder {
    color: inherit;
}

.faq-rew .improved-text input::-ms-input-placeholder {
    color: inherit;
}

.faq-rew .rew_submit {
    text-align: center;
}

.faq_detail_text {
    margin-top: 14px;
}

.faq_detail_text ul {
    margin: 0 0 15px;
}

.faq_detail_text ul li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 30px;
}

.full_text {
    position: relative;
    margin-bottom: 30px;
}

.full_text div {
    cursor: pointer;
    display: table;
    margin: 20px 0 20px 35px;
    font-family: OpenSans-B;
    font-size: 20px;
}

.full_text p {
    display: none;
    margin-left: 35px;
}

.full_text div:before, .full_text.open div:before {
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid;
    /*color: #2c95dd;*/
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
}

.full_text div:before {
    content: "+";
}

.full_text.open div:before {
    content: "-";
}

.faq-email--error {
    display: none;
    color: red;
    margin-top: 5px;
    margin-bottom: 0;
}

.faq-email--success {
    display: none;
    color: green;
    margin: 0;
}

/*END DETAIL*/

/*Responsive*/
@media screen and (max-width: 1200px) {
    aside {
        margin-left: 15px;
        margin-right: 15px;
    }
    aside .tech_doc a {
        font-size: 13px;
    }
    .tn_form_btn {
        display: block;
        text-align: center;
    }
    .tn_form__captcha {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .aside_right_responsive {
        display: none;
    }
    .wrapper_mobile_menu {
        display: block;
    }
    .mobile_menu_detail_button {
        display: flex;
    }
    .mobile_menu_detail {
        top: 120px;
    }
    table {
        font-size: 10px;
    }
    .tn_form__wrapper {
        display: block;
    }
    .tn_form__left, .tn_form__right {
        width: 100%;
        margin: 0;
    }
    .tn_form__captcha {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    aside {
        display: none;
    }
    section.index_faq h1 {
        font-size: 24px;
    }
    .kb_title {
        width: auto;
    }
    .kb_title p {
        font-size: 14px;
        font-weight: bold;
    }
    .logo {
        margin-left: 5px;
    }
    .logo svg {
        width: 108px!important;
        height: 22px!important;
    }
    .mobile_menu_button {
        display: flex;
    }
    section.index_faq {
        padding-top: 30px;
    }
    section.index_faq_marginTop {
        padding-top: 15px;
    }
    section.index_faq .desc_faq {
        padding-top: 10px;
    }
    .mobile_search {
        display: block;
    }
    .mobile_search form {
        margin-bottom: 0;
    }
    .wrapper_mobile {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile_menu_detail_button {
        display: flex;
    }
    .mobile_menu_detail {
        max-width: 100%;
        margin-left: 20px;
        top: 135px;
    }
    .faq-button-center {
        text-align: center;
    }
    .faq-rew .improved-text textarea {
        width: 100%;
    }
    ul.faq_related_list li a,
    div.news-detail,
    .faq-rew,
    .faq-issue{
        font-size: 12px;
    }
    .faq_subtitle {
        font-size: 14px;
    }
    .full_text div {
        font-size: 16px;
    }
    section.index_faq .desc_faq p {
        font-size: 13px;
    }
    .feedbackForm_faq p.couldnt_find_answer {
        margin-top: 50px;
    }
    .feedbackForm_faq .l-form .l-form__right_center,
    .tn_form__submit {
        margin-top: 0;
    }
    .answer_text {
        text-align: left;
    }
    .faq-rew .answer .answer_radio {
        margin: 0;
    }
    ul.faq-print li {
        margin-right: 15px;
    }
}

/*for techdoc*/
@media screen and (max-width: 990px) {
    aside .tech_doc a p {
        font-size: 12px;
    }
    aside {
        min-width: auto;
    }
    section.index_faq_width {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*END Responsive*/