@font-face {
    font-family: OpenSans-L;
    src: url('../font/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-B;
    src: url('../font/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-SB;
    src: url('../font/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: OpenSans-R;
    src: url('../font/OpenSans-Regular.ttf');
}

body {
    background: #f3f3f3;
}

.main {
    width: 1600px;
    height: 1360px;
    margin: auto;
    background: #fff;
    box-shadow: 0 10px 50px rgba(0,0,0,.05);
}

article {
    display: flex;
    justify-content: space-between;
}

header {
    width: inherit;
    height: 70px;
    background-color: rgb(34, 123, 191);
    display: flex;
}

.logo {
    width: 200px;
}

.kb_title {
    text-align: left;
    width: 590px;
    height: 40px;
    border-left: 1px solid #fff;
    display: flex;
    align-self: center;
    padding-left: 20px;
}
.kb_title p {
    margin: 0;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-family: 'OpenSans-L', sans-serif;
}

aside {
    width: 268px;
    margin-top: 30px;
    margin-left: 30px;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul.left_aside {
    /*height: 414px;*/
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 10px 0 10px 0;
}

aside ul.right_aside {
    border-left: 1px solid #e0e0e0;
    padding: 10px 0 10px 30px;
}

aside ul.left_aside li a {
    /*line-height: 36px;*/
    display: block;
    color: rgb(107, 107, 107);
    font-size: 14px;
    font-family: 'OpenSans-SB', sans-serif;
    text-decoration: none;
}

aside ul.left_aside li {
    margin-bottom: 15px;
    padding-left: 30px;
}

aside ul.left_aside li:last-child {
    margin-bottom: 0;
}

aside ul.left_aside li a:hover {
    color:#1e1e1f;
}

aside ul.left_aside li a#active {
    color:#278cd9;
    border-left: 5px solid #fff;

    box-shadow: -1px 0 0 #ffbf0e;
}

aside ul.left_aside li ul.left_aside_inner li {
    padding-left: 10px;
}

aside ul.left_aside li ul.left_aside_inner li a {
    display: block;
    font-family: 'OpenSans-R', sans-serif;
}

aside ul.left_aside li ul.left_aside_inner li:first-child {
    margin-top: 15px;
}

aside ul.left_aside li ul.left_aside_inner li:last-child {
    margin-bottom: 15px;
}

aside ul.left_aside li ul.left_aside_inner li a#active_inner {
    color:#1e1e1f;
    font-family: 'OpenSans-B', sans-serif;
}

aside ul.left_aside li ul.left_aside_inner li a:hover {
    color:#000;
}

aside .tech_doc {
    margin-top: 30px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

aside .tech_doc a {
    text-decoration: none;
    color: rgb(39, 140, 217);
    font-size: 14px;
    font-family: 'OpenSans-SB', sans-serif;
}

aside .tech_doc a:hover {
    color: #000;
}

aside .tech_doc a:hover svg path {
    fill: rgb(0,0,0)!important;
}

aside .tech_doc a p {
    display: inline-block;
    opacity: 1;
    line-height: 36px;
    margin-left: 10px;
}

section.index_faq {
    padding-top: 60px;
}

section.index_faq h1 {
    color: rgb(78, 80, 82);
    font-size: 36px;
    font-family: 'OpenSans-L', sans-serif;
    text-align: center;
}

section.index_faq label.search_label {
    position: relative;
}

section.index_faq label.search_label svg {
    position: absolute;
    fill: rgb(107, 107, 107);
    width: 32px; height: 32px;
    right: 5px;
    top: -5px;
    cursor: pointer;
}

section.index_faq label.search_label svg:hover {
    fill: rgb(39, 140, 217)!important;
}

section.index_faq .search {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(224, 224, 224);
    color: rgb(78, 80, 82);
    padding: 0px 10px;
    text-align: left;
    font-size: 14px;
    border-radius: 2px;
    width: 600px;
    height: 43px;
    margin-top: 10px;
    /*background-image: url() no-repeat 4px;*/
    outline: none;
}

section.index_faq .desc_faq {
    padding-top: 50px;
    width: 600px;
    text-align: center;
}

section.index_faq .desc_faq p {
    font-family: 'OpenSans-R', sans-serif;
    color: rgb(78, 80, 82);
}

.feedbackForm_faq p.couldnt_find_answer {
    text-align: center;
    color: rgb(30, 30, 31);
    font-size: 24px;
    font-family: 'OpenSans-R', sans-serif;
    margin-top: 80px;
    margin-bottom: 10px;
}

.feedbackForm_faq p.contact_us {
    color: rgb(78, 80, 82);
    font-size: 16px;
    text-align: center;
    font-family: 'OpenSans-R', sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
}

.feedbackForm_faq .l-form .l-form__right_center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

aside ul.right_aside li .title {
    text-transform: uppercase;
    color: rgb(30, 30, 31);
    font-size: 13px;
    font-family: 'OpenSans-B', sans-serif;
}

aside ul.right_aside li ul {
    margin-top: 15px;
    margin-bottom: 25px;
}

aside ul.right_aside li ul li {
    margin-bottom: 15px;
}

aside ul.right_aside li ul li a {
    color: rgb(78, 80, 82);
    font-size: 13px;
    font-family: 'OpenSans-R', sans-serif;
    text-decoration: none;
}

aside ul.right_aside li ul li a:hover {
    color: #278cd9;
}